<!-- *************** Fragments header *************** -->
<head th:fragment="header">
    <title>Spring Boot Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/accueil.css}"/>
</head>

<!-- *************** Fragments navigation *************** -->

<div th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Accueil</a>
    </nav>
</div>

<!-- *************** Fragments scripts *************** -->
<div th:fragment="scripts">
    <script type="text/javascript" src="webjars/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</div>
