<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: header"/>

<body>

<div th:replace="fragments/fragments.html :: navigation"></div>

<div class="container mt-5">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board: ${boards}">
            <td><a th:href="@{/produits?id=__${board.id}__}"><span th:text="${board.nom}"/></a></span>
            <td th:text="${board.description}"/>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>